* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    border-radius: 5px;
}

.sidebar {
    width: 290px;
    background-color: #030125;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    width: 250px;
    height: 150px;
    border: 2px solid #000;
background-color: rgb(61, 76, 85);
display: flex;
justify-content: center;
font-size: 50px;
padding-top: 42px;
border-radius: 6px;
}

.wallet-balance {
    text-align: center;
    padding-bottom: 10px;
}

.sidebar ul {
padding-top: 30px;
padding-left: 50px;
list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.main-content section {
    margin-bottom: 20px;
}

.main-content h1 {
    margin-bottom: 10px;
    font-size: 24px;
}